
{% extends "index.html" %}

{% block content %}

<style>

label {
  padding: 4px 4px 4px 0;
  display: block;
}

input[type=text], select {
  width: 80%;
  padding: 8px 8px;
  margin: 0 0;
  border: 1px solid #ccc;
  border-radius: 4px;
    }

input[type=submit] {
  width: 80%;
  background-color: #4CAF50;
  color: white;
  padding: 10px 12px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

</style>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <form class=""
               action="{{url_for('profession_skill')}}"
               method="post">
                {{ form.id }}
                {{ form.profession_id.label }}
                {{ form.profession_id }}
                {{ form.skill_id.label }}
                {{ form.skill_id }}
                <input type="submit" value="Submit">
            </form>
        </div>
        <div class="table-responsive col-md-8">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Profession name</th>
                        <th scope="col">Skill name</th>
                    </tr>
                </thead>
                <tr>
                {% for professionskill in professionskills %}

                    <td> {{professionskill.profession_name }} </td>
                    <td> {{professionskill.skill_name}} </td>
                    <td><a href="/profession_skill/edit/{{professionskill.id}}" class="btn btn-success">Edit</a> </td>
                    <td><a href="/profession_skill/delete/{{professionskill.id}}" class="btn btn-danger">Delete</a> </td>
                </tr>
                {% endfor %}

                </tbody>
            </table>
         </div>
     </div>
</div>


{% endblock %}

