{% extends "index1.html" %}

{% block content %}


 <div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Заліковка студента</th>
                <th scope="col">Ім'я студента</th>
                <th scope="col">Прізвище студента</th>
                <th scope="col">Група</th>
                <th scope="col">Середній бал</th>
                <th scope="col">Проживання</th>
                <th scope="col">Наявність стипендії</th>
                <th scope="col">Вік</th>

            </tr>
        </thead>

        <tbody>

        {% for user in student %}
        <tr>
            <td> {{user.student_id }} </td>
            <td> {{user.student_name}} </td>
            <td> {{user.student_surname}} </td>
            <td> {{user.student_group}} </td>
            <td> {{user.student_mark}} </td>
            <td> {{user.student_live}} </td>
            <td> {{user.student_stup}} </td>
            <td> {{user.student_age}} </td>


                         <td>
                    <a href="/edit_student/{{user.student_id}}"  button type="button" class="btn btn-warning" name="btn_edit_holiday" data-student_id="{{user.student_id}}">Edit</a>
                    <a href="/delete_student/{{user.student_id}}" button type="button" class="btn btn-danger" name="btn_delete_holiday" data-student_id="{{user.student_id}}">Delete</a>
                </td>

        </tr>
        {% endfor %}
                    <tr>
                <td> <a href="/new_student" button type="button" class="btn btn-success" name="btn_new_student">New Student</a> </td>
            </tr>

        </tbody>
    </table>
 </div>



{% endblock %}