<!DOCTYPE html>
<html lang="en">
<head>
  <title>Subjects</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

<!-- D3.js -->
<script src="https://d3js.org/d3.v5.min.js"></script>

<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<!-- Plotly.js -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  <ul class="navbar-nav">
    <li class="nav-item"><a class="nav-link" href="/groups">Groups</a></li>
    <li class="nav-item"><a class="nav-link" href="/subjects">Subjects</a></li>
    <li class="nav-item"><a class="nav-link" href="/students">Students</a></li>
    <li class="nav-item"><a class="nav-link" href="/subjectsheet">SubjectSheet</a></li>
    <li class="nav-item"><a class="nav-link" href="/dashboard">Dashboard</a></li>
  </ul>

</nav>

<div class="container">

    <h1>Subjects</h1>

          <div>
              {% for row in data %}
                  <div class="border p-1 m-1">
                      <form action = "/subjects" method = post>
                          <p>
                          {{row.name}}
                            <button name="del" type="submit" class="mh-100 del" value="{{row.name}}">Delete</button>
                            <button name="edit" type="submit" class="mh-100 edit" value="{{row.name}}">Edit</button>
                          </p>
                      </form>
                  </div>
              {% endfor %}
          </div>

    <form action = "/subjects" method = post>
       <fieldset>
           {{ form.hidden_tag() }}
           <legend>Add a Subject</legend>
           <div style = font-size:20px; font-weight:bold; margin-left:150px;>
              <div>
                  {{ form.name.label }}      {{ form.name }}
              </div>

             {{ form.submit }}
          </div>

       </fieldset>
    </form>

</div>

</body>
</html>